In [45]:
import pandas as pd

### droping columns

In [46]:
data = pd.read_csv('data/card_transdata.csv')
data.head()

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud
0,57.877857,0.311140,1.945940,1.0,1.0,0.0,0.0,0.0
1,10.829943,0.175592,1.294219,1.0,0.0,0.0,0.0,0.0
2,5.091079,0.805153,0.427715,1.0,0.0,0.0,1.0,0.0
3,2.247564,5.600044,0.362663,1.0,1.0,0.0,1.0,0.0
4,44.190936,0.566486,2.222767,1.0,1.0,0.0,1.0,0.0

In [47]:
data.drop(columns=["ratio_to_median_purchase_price"],inplace=True)

In [48]:
data.head()

,distance_from_home,distance_from_last_transaction,repeat_retailer,used_chip,used_pin_number,online_order,fraud
0,57.877857,0.311140,1.0,1.0,0.0,0.0,0.0
1,10.829943,0.175592,1.0,0.0,0.0,0.0,0.0
2,5.091079,0.805153,1.0,0.0,0.0,1.0,0.0
3,2.247564,5.600044,1.0,1.0,0.0,1.0,0.0
4,44.190936,0.566486,1.0,1.0,0.0,1.0,0.0

In [49]:
num_features=[feature for feature in data.columns if data[feature].dtype !='o']
cat_features=[feature for feature in data.columns if feature not in num_features]

### handling null values

In [50]:
for feature in num_features:
    if data[feature].isna().sum() != 0:
        data[feature].fillna(data[feature].mean(),inplace=True)

data[num_features].isna().sum()

distance_from_home                0
distance_from_last_transaction    0
repeat_retailer                   0
used_chip                         0
used_pin_number                   0
online_order                      0
fraud                             0
dtype: int64

In [55]:
for feature in data.iloc[:,2:].columns:
    data[feature]=data[feature].astype(int)
 
data

,distance_from_home,distance_from_last_transaction,repeat_retailer,used_chip,used_pin_number,online_order,fraud
0,57.877857,0.311140,1,1,0,0,0
1,10.829943,0.175592,1,0,0,0,0
2,5.091079,0.805153,1,0,0,1,0
3,2.247564,5.600044,1,1,0,1,0
4,44.190936,0.566486,1,1,0,1,0
...,...,...,...,...,...,...,...
999995,2.207101,0.112651,1,1,0,0,0
999996,19.872726,2.683904,1,1,0,0,0
999997,2.914857,1.472687,1,1,0,1,0
999998,4.258729,0.242023,1,0,0,1,0
999999,58.108125,0.318110,1,1,0,1,0

### storing new data in csv

In [52]:
data.to_csv("data/cleansed_data.csv",index=False)